body {
    margin: 0;
    font-family: 'Zalando Sans Expanded', sans-serif;
    color: #ffffff;
    background-color: #0b0b0b;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 60px 60px;
}

body.light {
    color: #303030;
    background: #f5f2ef;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.055) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.055) 1px, transparent 1px);
    background-size: 60px 60px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.button-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    width: 86px;
    height: 42px;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-family: 'Zalando Sans Expanded', sans-serif;
    gap: 10px;
    cursor: pointer;
}

body.light .button-cv {
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    color: #303030;
}

.button-cv:hover {
    border: 0.5px solid #ff660044;
    background-color: #ff66001a;
    color: #ff6600;
}

body.light .button-cv:hover {
    border: 0.5px solid #ff660044;
    background-color: #ff66001a;
    color: #ff6600;
}

.div-nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.div-nav-buttons {
    display: flex;
    align-items: center;
    gap: 22px;
}

#themeToggle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    border: 0.5px solid rgba(255, 255, 255, 0.07);
    color: #ffffff;

    cursor: pointer;
}

body.light #themeToggle {
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    color: #303030;
}

#themeToggle:hover {
    border: 0.5px solid #ff660044;
    background-color: #ff66001a;
    color: #ff6600;
}

body.light #themeToggle:hover {
    border: 0.5px solid #ff660044;
    background-color: #ff66001a;
    color: #ff6600;
}

body.light .card {
    p {
        color: #616161;
    }
}

body.light .card-container .card {
    background-color: #ffffff;
    border: 0.5px solid rgba(151, 151, 151, 0.2);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000000c;
    height: 98vh;
}

body.light .home {
    background-color: #ffffff0c;
}

.home .card-home {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 70%;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 62px;
        font-weight: 300;
        color: #ffffff;
    }
}

body.light .home .card-home {
    h1 {
        color: #303030;
    }
}

.subtitle-info {
    display: flex;
    align-items: center;
}

.sociais .diego-product-designer {
    display: flex;
    flex-direction: column;
}

.card-principal.contact .myname {
    color: #bbb;
    font-size: 12px;
    letter-spacing: 0.7px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

body.light .card-principal.contact .myname {
    color: #303030;
}

.card-principal.contact .mytitle {
    font-size: 14px;
    color: #ff6600;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle-line {
    width: 14px;
    height: 0.5px;
    background-color: #ff6600;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.subtitle {
    font-size: 10px;
    color: #ff6600;
    text-transform: uppercase;
}

.highlight {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

body.light .highlight {
    color: #303030;
}

.highlight2 {
    font-weight: 700;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: left;
}

body.light .highlight2 {
    color: #303030;
}

.highlight3 {
    font-size: 24px;
    color: #ffffffa4;
    margin-bottom: 24px;
    width: 80%;
}

.highlight4 {
    color: #ff6600;
    font-weight: 600;
}

body.light .highlight3 {
    color: #616161;
}

#typing::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
    color: #ff6600;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 28px;
    border-radius: 0;
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(22px);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.div-header {
    display: flex;
    margin: 0 auto;
    /* max-width: 1200px; */
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}

body.light header {
    border: 0.5px solid rgba(0, 0, 0, 0.12);
}

body.light header h1 {
    color: #303030;
}

body.light nav a {
    color: #303030;
    font-weight: 100;
}

body.light nav a:hover {
    color: #ff6600;
}

body.light nav a.active {
    color: #ff6600;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
    margin: 0 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.6px;
}

nav a:hover {
    color: #ff6600;
}

nav a.active {
    color: #ff6600;
}

.section {
    display: flex;
    justify-content: center;
    margin: auto;
    border-top: 0.5px solid #ffffff12;
    background: rgba(17, 17, 17);
    padding: 42px 0;
}

.section.aboutme {
    width: 100%;
    background-color: rgb(10 10 10);
}

.card-principal.contact {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
    width: 100%;
}

.infos-contact {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.email {
    font-family: 'Zalando Sans Expanded', sans-serif;
    position: relative;
    display: inline-flex;
    margin-top: 28px;
    align-items: center;
    gap: 10px;
    justify-content: center;

    width: 302px;

    background: transparent;
    border: 1px solid #fff;
    color: #fff;

    border-radius: 50px;
    padding: 16px 24px;
    font-size: 18px;
    cursor: pointer;

    overflow: hidden;
    transition: color 0.2s ease, border-color 0.1s ease;
}

body.light .email {
    border: 1px solid #616161;
    color: #616161;
}

.email:hover {
    color: #000000;
    background-color: #ff6600;
    border-color: #ff6600;
}

body.light .email:hover {
    color: #ffffff;
    background-color: #ff6600;
    border-color: #ff6600;
}

.arrow {
    transition: transform 0.3s ease;
}

.email:hover .arrow {
    transform: translateX(5px);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 999px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.project-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .80);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    padding: 30px;
}

.modal-container-solucao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 100%;
}

.modal-content {
    padding: 0px 36px 36px 36px;
}

.modal-line {
    display: flex;
    width: 100%;
    height: 0.5px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #ffffff15;
    border-radius: 2px;
}

.modal-date {
    padding: 4px 12px;
    border-radius: 22px;
    width: fit-content;
    background-color: rgb(87 87 87 / 29%);
    font-size: 12px;
    color: #a8a8a8;
}

.modal-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff15;
    border-radius: 2px;
}

.modal-client {
    letter-spacing: 0.8px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.modal-desafio {
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 82, 82, 0.1);
    border: 0.5px solid #3a2a2a;
    border-radius: 10px;
    padding: 22px;
}

.modal-proposta {
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 82, 82, 0.1);
    border: 0.5px solid #1e3030;
    border-radius: 10px;
    padding: 22px;
}

.modal-desafio-title {
    color: #c0504f;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.modal-proposta-title {
    color: #2bb8a8;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.modal-info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.modal-icon-triangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 6px;
    border-radius: 6px;
    background-color: #2e1a1a;

    img {
        width: 18px;
        height: 18px;
    }
}

.modal-icon-bulb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 6px;
    border-radius: 4px;
    background-color: #122820;

    img {
        width: 18px;
        height: 18px;
    }
}

.hidden {
    display: none;
}

.modal-infos {
    position: relative;
    cursor: pointer;
}

.modal-infos::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    background: #111;
    color: #fff;

    padding: 6px 10px;
    border-radius: 8px;

    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-infos:hover::after {
    opacity: 1;
}

.modal-box {
    width: 100%;
    max-width: 1000px;
    background: rgba(17, 17, 17);
    border-radius: 10px;
    border: solid 0.5px #ffffff12;
    position: relative;
    max-height: 88vh;
    overflow: auto;
}

.modal-dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;

}

.modal-dot {
    width: 12px;
    height: 4px;

    border-radius: 999px;

    background: rgba(73, 69, 69, 0.4);

    transition: .3s ease;
    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);

}

.modal-dot.active {
    width: 32px;
    background: #ff6600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

}

.modal-description {
    color: #ffffffa4;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.6rem;
}

.close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9px;
    right: 11px;
    height: 42px;
    width: 42px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    color: white;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    z-index: 1;
}

.modal-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.modal-tags-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.modal-tags {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.modal-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(87 87 87 / 29%);
    font-size: 12px;
    color: #a8a8a8;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 22px;
    margin-top: 36px;

    img {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
}

.modal-title {
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.modal-infos {
    display: flex;
    flex-direction: row;
    gap: 6px;
    border-radius: 22px;
    width: fit-content;

    img {
        width: 18px;
        height: 18px;
    }

    p,
    span {
        font-size: 14px;
        color: #ff6600;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Zalando Sans Expanded', sans-serif;
    }
}

.modal-image {
    width: 100%;
    max-height: 549px;
    object-fit: cover;
}

.img-prev,
.img-next {
    position: absolute;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.img-prev {
    left: 20px;
}

.img-next {
    right: 20px;
}

.project-infos {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: start;
    margin-bottom: 12px;
}

.project-infos {
    font-size: 12px;
    font-family: 'Zalando Sans Expanded', sans-serif;
}

.project-date {
    padding: 4px 12px;
    border-radius: 22px;
    width: fit-content;
    background-color: rgb(87 87 87 / 29%);
    font-size: 12px;
    color: #a8a8a8;
}

.project-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.project-details .project-separator {
    color: #ff6600;
    font-size: 12px;
}

.card-principal.aboutme p,
.card-principal.wcid p,
.card-principal.contact p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
    line-height: 32px;
}

.div-stacks {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .button-cv {
        width: 196px;
        color: #ff6600;
        border: 0.5px solid #ff660044;
        background-color: #ff66001a;
        margin-top: 24px;

        transition: transform 0.3s ease;
    }

    .button-cv:hover {
        transform: translateY(-3px) scale(1.02);
    }
}

body.light .div-stacks .button-cv {
    border: 0.5px solid #ff660044;
    background-color: #ff66001a;
    color: #ff6600;
}

.stacks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: rgb(255 255 255);
    font-weight: 400;
    background-color: rgb(87 87 87 / 29%);
    padding: 10px 14px;
    border: 0.5px solid #ffffff12;
    border-radius: 10px;
    width: fit-content;

    img {
        width: 18px;
        height: 18px;
    }
}

body.light .stacks {
    color: #616161;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(151, 151, 151, 0.4);
}

.card-principal.wcid .infos-aboutme p {
    color: #ffffffa4;
}

body.light .card-principal.wcid .infos-aboutme p {
    color: #616161;
}

.card-principal.contact .sociais {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 30%;
}

.card-principal.contact .sociais .div-sociais {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;

    .stackss {
        background-color: rgba(82, 82, 82, 0.1);
        border: 0.5px solid #ffffff12;
        border-radius: 10px;
        display: flex;
        text-align: start;
        align-items: start;
        justify-content: start;
        gap: 12px;
        padding: 24px 34px;

        transition: transform 0.4s ease, box-shadow 0.4s ease;

        p {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 11px;
            letter-spacing: 0.6px;
            font-weight: 500;
            line-height: normal;
        }

        span {
            line-height: normal;
            margin-top: 6px;
        }

        img {
            width: 18px;
            height: 18px;
        }
    }
}

.stackss:hover {
    transform: translateY(-4px);
}

body.light .card-principal.contact .sociais .div-sociais .stackss {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(151, 151, 151, 0.3);

    p {
        color: #616161;
    }

    span {
        color: #616161;
    }
}

.sociais-names {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 0.5px;
    height: 100%;
    background-color: #ffffff12;
}

.card-principal.contact .sociais .div-sociais .stacks:hover {
    cursor: pointer;
    transform: translateY(-4px);

    a {
        color: #ff6600;
    }
}

.card-principal.contact .sociais a {
    font-size: 16px;
    line-height: 36px;
    color: #ffffffa4;
    text-decoration: none;
}

body.light .card-principal.contact .sociais a {
    color: #616161;
}

body.light .card-principal.aboutme p,
.card-principal.wcid p,
.card-principal.contact p {
    color: #616161;
}

body.light .card-principal.aboutme p {
    color: #616161;
}

body.light .section.aboutme {
    background-color: #ede9e4;
}

body.light .section {
    background: #f5f2ef;
    border-top: 0.5px solid rgba(151, 151, 151, 0.2);
}

.card-principal.projects p {
    font-size: 22px;
    color: #ffffffa4;
    line-height: 36px;
    margin-top: 0px;
}

.card-principal.projects .card p {
    font-size: 14px;
    color: #ffffffa4;
    line-height: 22px;
}

.card-principal.projects .card .div-infos p {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(87 87 87 / 29%);
    font-size: 12px;
    color: #a8a8a8;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 22px;

    img {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
}

.card-principal.projects .card .card-conteudo .div-infos {
    display: flex;
    justify-content: left;
    gap: 12px;
    width: fit-content;
    margin-top: auto;
}

body.light .card-principal.projects .card .div-infos p {
    color: #616161;
    background-color: rgba(145, 145, 145, 0.11);
    border: 0.5px solid rgba(151, 151, 151, 0.2);
}

body.light .card-principal.projects p {
    color: #616161;
}

.card-principal {
    display: flex;
    flex-direction: column;
    gap: 38px;
    max-width: 1400px;
    padding: 92px;
    border-radius: 8px;
    gap: 16px;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.text-title {
    font-size: 52px;
    margin: 0;
    font-weight: 800;
}

.card-principal.show {
    opacity: 1;
    transform: translateY(0);
}

.card-principal.aboutme {
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
    flex-direction: column;
    gap: 136px;
}

.card-principal.aboutme .infos-aboutme {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-principal.wcid .infos-aboutme {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-what-icando {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-top: 36px;
}

body.light .what-icando {
    background-color: #ffffff;
    border: 0.5px solid rgba(151, 151, 151, 0.2);

    span {
        text-align: left;
        color: #616161;

    }
}

.what-icando {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 22px;
    align-items: start;
    background-color: rgba(82, 82, 82, 0.1);
    border: 0.5px solid #ffffff12;
    padding: 42px 32px;
    border-radius: 10px;

    img {
        width: 28px;
        height: 28px;
    }

    span {
        font-size: 14px;
        text-align: left;
        color: #a8a8a8;
        letter-spacing: 0.5px;

    }

    h1 {
        font-size: 18px;
        margin-top: 0;
        font-weight: 600;
    }
}

.card-principal .image-square {
    position: relative;
    width: 340px;
    height: 390px;
    border-radius: 10px;
}

.image-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    position: relative;
    z-index: 3;
}

.card-principal.aboutme .div-infos {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: fit-content;
}

.card-principal.aboutme .div-infos p {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(87 87 87 / 29%);
    font-size: 12px;
    color: #a8a8a8;
    width: fit-content;
    padding: 0px 12px;
    border-radius: 22px;
    border: 0.5px solid #2e2e2e;
}

body.light .card-principal.aboutme .div-infos p {
    color: #616161;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(151, 151, 151, 0.44);
}

.glow {
    position: absolute;
    width: 220px;
    height: 220px;
    background: radial-gradient(circle, #7c5cff, transparent 30%);
    top: -60px;
    left: -60px;
    filter: blur(50px);
    opacity: 0.4;
    z-index: 1;
}

.shape.square {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: -20px;
    right: -20px;
    z-index: 5;
    animation: float 6s ease-in-out infinite;
}

.glass2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;

    position: absolute;
    padding: 4px 12px;
    bottom: 12px;
    left: 12px;
    border-radius: 14px;
    background: #1a1a1a;
    border: 0.5px solid #2e2e2e;
    z-index: 4;

    span {
        font-size: 12px;
        color: #aaa;
        font-weight: 500;
        font-family: 'Zalando Sans Expanded', sans-serif;
    }

    .ball {
        display: flex;
        font-size: 0px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #4caf7d;
    }
}

.dotdot {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #ff6600;
    border-radius: 50%;
    top: 2.5%;
    right: 0px;
    z-index: 4;
    animation: float 5.5s ease-in-out infinite;
}

.div-title-client {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.project-client {
    font-size: 12px;
    color: #ff6600;
    font-family: 'Zalando Sans Expanded', sans-serif;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card-principal .image-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 0.5px solid #2e2e2e;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    border-radius: 10px;
    gap: 8px;

    h2 {
        font-size: 24px;

    }

    h3 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p {
        letter-spacing: 1px;
        line-height: 22px;
        color: #ffffffa4;
        width: 100%;
        margin-top: 0;
        margin-bottom: 12px;
    }
}


body.light .div-infos p {
    color: rgb(204, 65, 0);
}

.card-conteudo {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-container {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
}

.card-container .card {
    flex: 0 0 calc((100% - 5px) / 2.5);
    cursor: pointer;
    background-color: rgba(82, 82, 82, 0.1);
    border: 0.5px solid #ffffff12;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container .card:hover {
    transform: translateY(-6px) scale(1.02);
}

.card-container .card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-wrapper {
    display: flex;
    /* background-color: rgba(10 10 10); */
    align-items: center;
    gap: 16px;
    padding: 4px 2px;
    border-radius: 10px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 14px;
}

.carousel-dots span {
    width: 12px;
    height: 4px;
    background: #555;
    border-radius: 999px;
    cursor: pointer;
    transition: .3s ease;
}

.carousel-dots span.active {
    width: 32px;
    background: #ff6600;
}

.carousel {
    overflow: hidden;
    padding: 14px;
    width: 100%;
}

.bi-chevron-left,
.bi-chevron-right {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    opacity: 0.6;
    transition: 0.2s;

    border: solid 0.5px #ffffff4f;
    border-radius: 10px;
    padding: 8px;
}

.bi-chevron-left:hover,
.bi-chevron-right:hover {
    color: #ff6600;
    background-color: #2a1500;
    border: solid 0.2px #ff660070;
    opacity: 1;
}

.box-icon {
    display: flex;
    background-color: #2a1500;
    padding: 10px 10px;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.what-icando .whats-important span {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    color: #ff6600;
    font-size: 12px;
}

body.light .what-icando .whats-important span {
    color: #ff6600;
}

body.light .box-icon {
    background-color: #fdd5ad;
}

.card-principal.wcid .infos-aboutme .what-icando {
    position: relative;
}

.card-principal.wcid .infos-aboutme .what-icando p {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 18px;
    right: 20px;
    margin: 0;
    color: #333;
}

footer {
    position: relative;
    text-align: center;
    color: #a8a8a8;
    padding: 18px;
    font-size: 0.8rem;
    background: transparent;
}

footer::before {
    content: "";
    background: linear-gradient(90deg, transparent, #ff6600, transparent);
    width: 70%;
    height: 0.5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

body.light footer {
    background-color: #ffffff70;
    color: #616161;
}